@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(52, 52, 52);
  color: white;
}
h1 {
  background-color: rgb(99, 95, 95);
  text-align: center;
  padding: 30px;
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 100;
  border-bottom: 1px white solid;
}

h1 > span {
  color: #ffb30e;
  font-weight: bold;
  background-color: rgb(99, 95, 95);
}
p {
  margin-top: 50px;
  letter-spacing: 1px;
  line-height: 2rem;
  max-width: 500px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 600;
  color: white;
  margin: 50px auto;
  text-transform: uppercase;
  text-align: left;
}

span {
  color: #ffb30e;
  font-weight: bold;
}

a {
  color: black;
  background-color: #ffaf03;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
    background-color: transparent;
}

div {
  text-align: center;
}
